/* Form.css */
.form-container {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #86cee4;
}
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button {
    width: 100px;
    padding: 10px;
    margin: 10px 5px;
    border: none;
    background-color: #a2cfe4;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #77c0d6;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  